/* Styles go here */

.help-block {
  color: red;
  padding: 5px;
}

.well-sm {
  background: #A767FF;
  color: #fff;
  font-weight: bold;
}

.money-btn {
  background: #24d686;
  color: #fff;
  font-weight: bold;
}
.no-pad{
  padding-left:0px;
  padding-right:0px;
  margin: 20px;
  text-transform: capitalize;
}
.capitalize {
	text-transform: capitalize;
}
.accept {
	background: #008B8B;
	color: #E0FFFF;
}
.deny {
	background: #DB7093;
	color: #E0FFFF;
}
.home-1 {
  background: #87CEEB;
  color: #FFF;
}
.home-2 {
  background: #EE82EE;
}
.home-3 {
  background: #FFA500;
}
body {
    background: #e0e0e0 url("../images/bodybg.gif") repeat-x scroll 0 0;
    color: #505050;
    margin: 0;
    padding: 0;
    text-align: center;
}
login-temp .row {
    height: 210px;
    margin: 0 auto 0 377px;
    padding-top: 191px;
    width: 810px;
}
.mngr-dashboard .panel{
  background: #e0e0e0 url("../images/mngr-bg.jpg") repeat-y scroll 0 0;
}
.container {
  margin-top: 140px;
}