<div class="alert alert-info alert-dismissable page-alert" ng-show="updateAlert">
  Customer profile has been updated!
</div>
<div class="alert alert-danger alert-dismissable page-alert" ng-show="deleteAlert">
  Customer profile has been removed!
</div>
<div>
  <div ng-show="showCustomer">
    <cust-block cust="customer" hide-fun="hide();"></cust-block>
  </div>
  <div ng-show="custEditShow">
    <cust-edit cust-edit-obj="customer" cust-edit-fun="updateForm(e);"></cust-edit>
  </div>
  <cust-list cust-list-obj="custList" cust-show-fun="custShow(c)" cust-edit-fun="custEdit(d);" cust-del-fun="delCust(de)"></cust-list>
</div>