<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title capitalize">{{account.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="images/pama.jpg" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Acccount Number:</td>
                                <td>{{account.ac}}</td>
                            </tr>
                            <tr>
                                <td>Phone number</td>
                                <td>{{account.phone}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><a href="mailto:info@support.com">{{account.email}}</a></td>
                            </tr>

                            <tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>{{account.gender}}</td>
                                </tr>
                                <tr>
                                    <td>Stage</td>
                                    <td>{{account.state}}</td>
                                </tr>
                                <tr>
                                    <td>Available Money</td>
                                    <td>{{account.money}}</td>
                                </tr>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class=" btn btn-sm btn-de"></a>
            <span class="pull-right">
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" ng-click="hide();"><i>x</i></a>
                        </span>
        </div>

    </div>
</div>