<div class="row">
    <a href="javascript:void(0);" class="btn btn-default pull-right" ng-click="hideFun();"><span class="glyphicon glyphicon-remove"></span> close</a>
    <div class="col-xs-12 col-md-8">Account number: {{cust.ac}}</div>
    <div class="col-xs-6 col-md-4">Name: {{cust.name}}</div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-4">Email: {{cust.email}}</div>
    <div class="col-xs-6 col-md-4">Phone: {{cust.phone}}</div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-4">Gender: {{cust.gender}}</div>
    <div class="col-xs-6 col-md-4">State: {{cust.state}}</div>
</div>