<div ng-show="acceptPay" class="alert alert-success">Money transfer has been done !</div>
<div ng-show="denyPay" class="alert alert-danger">Money transfer has been denied !</div>
<profile-card account="ac" ng-show="acShow" hide="hide();"></profile-card>
<div class="col-md-3 no-pad" ng-repeat="req in requests" ng-if="req.status === 0">
    <ul class="list-group">
        <li class="list-group-item info">From Ac:- </li>
        <li class="list-group-item text-center"><a href="" ng-click="showCustomer(req.fromAcId,'from')" class="pad">{{req.fromAc.name}}</a></li>
        <li class="list-group-item info">To Ac:- </li>
        <li class="list-group-item text-center"><a href="" ng-click="showCustomer(req.toAcId,'to')" class="pad">{{req.toAc.name}}</a></li>
        <li class="list-group-item success">Money to transfer </li>
        <li class="list-group-item text-center">{{req.money}}</li>
        <li class="list-group-item text-center">
			<a href="" class="btn accept" ng-click="transAction(req.$id,1);">Accept</a>
            <a href="" class="btn deny" ng-click="transAction(req.$id,-1);">Deny</a>
		</li>
    </ul>
</div>