<div class="row home">
<!--<img src="images/bank.jpg" class="">
<img src="images/bank-block.jpg" class="" width="350px" height="300px">-->
<div class="">
<div class="panel panel-default">
   <div class="panel-body text-center home-1">
      <h4> <a href="#/cust-login">Customer Login</a> </h4>
   </div>
</div>
<div class="panel panel-default home-2">
   <div class="panel-body text-center">
      <h4> <a href="#/cust-register">Customer Register</a></h4>
   </div>
</div>
<div class="panel panel-default home-3">
   <div class="panel-body text-center">
      <h4><a href="#/manager-login">Manager Login</a></h4>
   </div>
</div>
</div>
</div>

