<div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form method="post">
     <div class="form-group ">
      <label class="control-label requiredField pull-left" for="email">
       Email
      </label>
      <input class="form-control" id="email" name="email" type="text" ng-model="user.email" required/>
     </div>
     <div class="form-group ">
      <label class="control-label pull-left" for="number">
       Password
      </label>
      <input class="form-control" id="number" name="number" type="password" ng-model="user.password" required/>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit" ng-click="clickFun({k:user});">
        Submit
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
  