<h3 class="text-muted">Manager Dashboard</h3>
<div class="mngr-dashboard">
<div class="panel panel-default">
   <div class="panel-body text-center">
      <h4> <a href="#/add-customer">Customer Add </h4></a>
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-body text-center">
      <h4> <a href="#/customers">Customers List</h4></a>
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-body text-center">
      <h4><a href="#/transfer-requests">Fund transfer requests</a></h4>
   </div>
</div>
</div>