<div ng-show="loginErr" class="alert alert-danger alert-dismissable page-alert">
    Login failed! Please use valid credentials.
</div>
<div class="row login">
    <login-temp click-fun="login(k);" class="col-md-8 pull-right"></login-temp>
    <div class="col-md-4 right-side-nav">
        <ul class="list-group">
            <li class="list-group-item"><a href="/">Home</a></li>
            <li class="list-group-item"><a href="/cust-register">Register</a></li>
            <li class="list-group-item"><a href="/cust-login">Customer Login</a></li>
        </ul>
    </div>
</div>